@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  background: #00205a;

}
.logo{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  filter: blur(11px);
  z-index: 0;
}
.component-score{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.message,
.score{
  font-family: 'Bebas Neue';
  text-align: center;
}
.message{
  font-size: 17vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
  font-weight: bold; 
  height: 100vh;
  width: calc(100vw - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}
.score{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 4vw;
  color: #00205a;
  background: white;
  padding: 15px 0;
}
.score p{
  margin: 0;
  letter-spacing: 5px;
  font-weight: bold;
}